/* [ START ] Main Rules */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #19A1AE;
    min-height: 100dvh;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
:root {
    --dark-navy: #2E3349;
    --grey: #6B7082;
    --white: #FFF;
    --line: #E8E9EC;
}
/* [ END ] Main Rules */

/* [ START ] Background Style Section */
.bg-pattern-top,
.bg-pattern-bottom {
    position: absolute;
    z-index: -1;
}
.bg-pattern-top {
    align-self: flex-start;
}
.bg-pattern-bottom {
    align-self: flex-end;
}
/* [ END ] Background Style Section */