/* [ START ] Main Rules */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #19A1AE;
    min-height: 100dvh;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./svgs/bg-pattern-top.svg), url(./svgs/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 52vw bottom 35vh, left 50vw top 46vh;
}
:root {
    --dark-navy: #2E3349;
    --grey: #6B7082;
    --white: #FFF;
    --line: #E8E9EC;
}
/* [ END ] Main Rules */

/* [ START ] Main Box Style Section */
main {
    /* width: 326px; */
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 0.9375rem;
    box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.50);
    text-align: center;
}
@media screen and ( max-width: 768px ) {
    
}
main .bg-pattern-card {
    margin-bottom: 1.5rem;
}
main .bg-pattern-card  img {
    display: block;
}
main .bg-pattern-card img:first-of-type {
    border-radius: 0.9375rem 0.9375rem 0rem 0rem;
    max-width: 100%;
}
main .bg-pattern-card .avatar {
    width: 6rem;
    border-radius: 50%;
    border: 5px solid #ffffff;
    position: relative;
    margin-top: -48px;
    z-index: 2;
    margin: -48px auto 0;
}
main h1 {
    color: var(--dark-navy);
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.8125rem;
}
main h1 span {
    color: var(--grey);
    font-weight: 400;
    margin-left: 3px;
}
main p {
    color: var(--grey);
    font-size: 0.875rem;
    margin-bottom: 1.75rem;
}
main .line {
    background-color: var(--line);
    height: 0.0625rem;
    margin-bottom: 1.5rem;
}
main ul {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 2.875rem;
    margin-bottom: 1.6875rem;
}
main ul li h6 {
    color: var(--dark-navy);
    font-size: 1.125rem;
    font-weight: 700;
}
main ul li span {
    color: var(--grey);
    font-size: 0.625rem;
    font-weight: 400;
    letter-spacing: 0.09375rem;
}
/* [ END ] Main Box Style Section */